.event_box{
	border: 1px solid #999;
	box-shadow: 0px 05px 15px 5px #968A8A;
	border-radius: 100000px;
	display: inline-block;
	height: 220px;
	width: 190px;
	background-color: white;
	margin-left: 120px;
	color: #01384A;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 200px;
	text-align: center;
	transition: all .5s ease-in-out;
	padding-top: 50px;
	border: 1px solid blue; 
	line-height: 10px;
}


.mainFooter{
	margin-left: 0px;
	background-color: black;
	height: 300px;
	margin-top: 100px;
	  background-size: cover;
}